*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
.logo{
 height: 75px;
 width: 150px;
object-fit: cover;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10px;
    padding-right: 30px;
}
.navLinks{
    display: flex;
   gap: 70px;
}
.clintLinks{
    display: flex;
    gap: 40px;
}
.navLinks a{
text-decoration: none;
font-family: sans-serif;
font-weight: 600;
color: black;
}
.navbar a{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search{
    height: 30px;
    width: 200px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 2px;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.implinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 400px;
    width: 250px;
    background-color: #F8F9FA;
     font-family: sans-serif;
    font-weight: 600;
    font-size: 13px;
    padding-left: 45px;
    position: absolute;
    left: -300px;
    transition: left 0.4s ease-in-out;
    gap: 25px;
   border-radius: 0px 2px 2px 0px;
   
}


.implinks.open {

  left: 0;         

}

.implinks a{
    color: black;
    text-decoration: none;
}
@media (min-width:480px) {
        #burger{
            display: none;
            border: 0px;
            height: 35px;
        }
      .implinks{
        display: none;
       
      }
}
@media (max-width:480px) {
      .navLinks{
        display: none;
      }
        #search{
        height: 30px !important;
        width: 150px !important;
        margin-right: 20px;
       }
       .main-footer{
    height: auto;
    width: 100%;
    display: flex;
   flex-wrap: wrap;
   justify-content: center !important;

}
.contact-links{
    padding-right:  150px !important;
    height: auto !important;
}
.imp-things{
     padding-right:  140px !important;
    height: auto !important;
}
.site-rules{
      padding-right:  105px !important;
    height: auto !important;
}
     .about-page{
         padding-right:  170px !important;
    height: auto !important;
     }
     .contact-links{
        padding-left: 5px;
     }
    
}
#wrong-icon{
    border: none;
    background-color: #F8F9FA ;
   position: absolute;
    padding-left: 170px;
    top: 17px;
    font-size: 17px;
    
}
.logo-here{
     height: 75px;
     width: 100px;
     object-fit: cover;
}
.main-footer{
    height: auto;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
.contact-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 120px;
    justify-content: center;

}
.contact-links h3{
   font-family: sans-serif;
font-weight: 600;
color: blue;
font-size: x-small;
}
.contact-links h4{
     font-family: sans-serif;
font-weight: 600;
color: black;
font-size: small;
}
.links-connect i{
   color: black;
}
.contact-links button{
    height: 30px;
    width: 160px;
    font-family: sans-serif;
font-weight: 600;
background-color: rgb(254, 166, 4);
border: 1px solid black;
font-size: small;
border-radius: 2px;
color: rgb(40, 38, 38);
}
.imp-things{
    display: flex;
   flex-direction: column;
   gap: 5px;
  height: 250px;
  justify-content: center;
}
.imp-things a{
  text-transform: uppercase;
   text-decoration: none;
  font-family: sans-serif;
font-weight: 600;
color: black;
font-size:small;

}
.site-rules{
     display: flex;
   flex-direction: column;
   gap: 5px;
  height: 180px;
  justify-content: center;
}
.site-rules a{
    text-transform: uppercase;
   text-decoration: none;
  font-family: sans-serif;
font-weight: 600;
color: black;
font-size:small;
}
.about-page{
    display: flex;
   flex-direction: column;
   gap: 5px;
  height: 180px;
  justify-content: center;
  height: 280px;
}
.about-page a{
     text-transform: uppercase;
   text-decoration: none;
  font-family: sans-serif;
font-weight: 600;
color: black;
font-size:small;
}
.about-page h4{
     font-family: sans-serif;
font-weight: 600;
color: rgb(255, 128, 0);
font-size: large;
text-transform: uppercase;
}
.links-connect{
    display: flex;
    gap: 10px;
    font-size: large;
    
}